{% extends 'plantilla.html' %}
{% load static %}

{% block 'estilo' %}
    <link rel="stylesheet" href="{% static 'css/paypal.css' %}">
{% endblock %}

{% block 'contenido' %}
<section>
    <div class="content">
        <div>
            
        </div>
        <div style="height: auto;">
            <div id="paypal-button-container"></div>
            <p id="result-message"></p>
        </div>
    </div>

    <script
        src="https://www.paypal.com/sdk/js?client-id=test&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo,paylater,card"
        data-sdk-integration-source="developer-studio"></script>
    <script src="{% static 'JS/app.js' %}"></script>
</section>
{% endblock %}