{% extends 'plantilla.html' %}
{% load static %}

{% block 'estilo' %}
    <link rel="stylesheet" href="{% static 'css/historial.css' %}">
{% endblock %}

{% block 'contenido' %}

<h1>Perfil e Historial</h1>       
<section id="cuerpo">
    <section id="perfil">
        <div id="imagenInformacion">
            <img src="{% static 'img/perfil.png' %}" alt="foto de perfil">
           
            <div id="informacionPerfil">
                <h4>Nombre de usuario</h4>
                <label for="" type="text">pepito yañez</label> 
            </div>
            
        </div>
    
    </section>

    <section id="historial">
        
        <!-- falta por terminar -->
        <div id="informacionHistorial">
            <div id="residuoHistorial">
                <h3>Cantidad de residuos (En mt^3):</h3>
                <label type="number" placeholder="Ej: 5"> 5
            </div>
            <div id="direccionHistorial">
                <h3>Dirección:</h3>
                <label for="" type="text">Avenida Siempre Viva 1999</label> 
            </div>
            <div id="tipoHistorial">
                <h3>Tipo de residuo:</h3>
                <label for="" type="text">Otro</label> 
            </div>
            <div id="descripcionHistorial">
                <h3>descripcion de solicitud:</h3>
                <label type="number" placeholder="Ej: 5"> 5
            </div>
            <div id="destinoHistorial">
                <h3>Dirección de destino:</h3>
                <label for="" type="text">Avenida Felicidad 2</label> 
            </div>
        </div>

        </div>
    </section>    

</section>

{% endblock %}