{% extends "plantilla.html" %}
{% load static %}

{% block 'estilo' %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block 'contenido' %}
    <section>
        <div style="height: 4rem; width: 100%;"></div>
        <div class="info">
            <p>Solicita el retiro de los residuos que tengas en casa y
                nosotros nos encargaremos de deshacernos de esos escombros que ocupan tanto espacio en tu hogar</p>
        </div>
        <div class="desc">
            <div id="informacion">
                <p class="listado">Ventajas de utilizar nuestros servicios:
                    <br>
                    <br>
                    <br>
                    <li class="listado">
                        Respondemos rápidamente.
                    </li>
                    <li class="listado">
                        Vamos a la ubicacion.
                    </li>
                    <li class="listado">
                        Trabajamos rápida y eficazmente.
                    </li>
                    <li class="listado">
                        Comprometemos el destino final de los residuos.
                    </li>
                    <li class="listado">
                        Te mantenemos informado.
                    </li>
                </p>
            </div>
            <div id="imagen-camion">
                <img src="{% static 'img/camion.png' %}" alt="cambion-basura">
            </div>
        </div>
    </section>
    <section id="solicitar-retiro">
        <div class="texto">
            <p>Solicita el retiro a tu ubicación creando una cuenta gratuita!</p>
            <p style="letter-spacing: 5px; font-size: 1rem; text-decoration: underline; color: var(--color-title-btn)">Haciendo click</p>
            
            <a href="{% url 'retiro_residuos' %}">
                <button type="button" id="aqui-btn">AQUÍ</button>
            </a> 
        </div>
        <div class="imagen-personas">

        </div>
    </section>
{% endblock %}