{% extends 'plantilla.html' %}
{% load static %}

{% block 'estilo' %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block 'contenido' %}


    <section>
        <script>
            window.addEventListener('DOMContentLoaded', function(){
                document.querySelector("#id_username").placeholder = "EJ: alexander@gmail.com / Alexander"
                document.querySelector("#id_password").placeholder = "***********"
            })
        </script>

        <div class="login">
            <div class="login-titulo">
                <strong>Iniciar sesión</strong>
            </div>
            <div class="login-form">
                <form action="" method="post">
                    {% csrf_token %}

                    <label for="user">Correo o nombre de usuario:</label>
                    <!-- <input type="text" placeholder="EJ: alexander@gmail.com / Alexander" name="user"> -->
                    {{ form.username }}
                    <label for="pass">Contraseña:</label>
                    <!-- <input type="password" placeholder="********" name="pass"> -->
                    {{ form.password }}
                    <div class="check-reset">
                        <label for="recordarme">
                            <input type="checkbox" name="recordarme" id="recordarme" >
                            Recordarme
                        </label>
                        <a href="#">Olvidaste tu contraseña?</a>
                    </div>

                    <div id="boton">
                        <button type="submit">Iniciar Sesión</button>
                    </div>

                    <div id="registrase">
                        <p>¿no tienes cuenta? <a id="linkRegistrarse" href="{% url 'registrarse' %}"> Crea una aquí.</a></p>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>

{% endblock %}