{% extends 'plantilla.html' %}
{% load static %}

{% block 'estilo' %}
    <link rel="stylesheet" href="{% static 'css/pagAdmin.css' %}">
{% endblock %}

{% block 'contenido' %}

<div class="admin-container">
    <h1>Página del Administrador ONG</h1>
    <div class="asignar-recursos">
        <h2>Asignar recursos</h2>
        <p>Aquí podrás asignar recursos y las rutas mas optimas</p>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="tipo-residuo">Tipo de residuo</label>
                <select id="tipo-residuo" name="tipo-residuo">
                    <option value="">Seleccione un tipo</option>
                    <option value="plastico">Organico</option>
                    <option value="papel">No organico</option>
                    <option value="vidrio">Biodegradable</option>
                    <option value="vidrio">Otro</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rutas">Rutas</label>
                <input type="text" id="rutas" name="rutas" placeholder="Valor">
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" id="cantidad" name="cantidad" placeholder="Valor">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" placeholder="Valor"></textarea>
            </div>
            <button type="submit">Solicitar recolección</button>
            <button class="mostrar-rutas">Mostrar rutas más óptimas</button>
        </form>
    </div>

    <div class="contactos">
        <h2>Contactos</h2>
        <select name="Contactos" id="contacto">
            <option value="Hola">Selecione el contacto a llamar</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 1</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 2</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 3</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 4</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 5</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 6</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 7</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 8</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 9</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 10</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 11</option>
            <option value="Hola"><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 12</option>
        </select>
        <button>Llamar</button>
    </div>

    <div class="icono-reciclaje">
        <!-- <img src="{% static 'img/reciclar-cemento.png' %}" alt="Icono de reciclaje"> -->
    </div>
</div>
{% endblock %}

<!-- <ul>           
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 1</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 2</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 3</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 4</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 5</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 6</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 7</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 8</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 9</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 10</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 11</li>
    <li><img src="{% static 'img/contacto_icon.png' %}" alt="Icono de contactos" class="icon-contactos">Usuario 12</li>     
</ul> -->