{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retiro residuos</title>
    <link rel="stylesheet" href="{%static 'css/plantilla.css'%}">
    {% block 'estilo' %}
    {% endblock %}
</head>
<body>
    <!-- HEADER -->
     <header>
        <div class="header-container">
            <div class="titulo">
                <a href="{% url 'home' %}" style="text-decoration: none;"><strong>Retiro de residuos urbanos</strong></a>
            </div>
            <div class="links">
                <div>
                    <a href="#">Blogs
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </a>
                    <a href="#">Proyectos</a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a href="{% url 'pagAdmin' %}">Revisar solicitudes</a>
                        {% else %}
                            <a href="{% url 'retiro_residuos' %}">Solicitar retiro</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'retiro_residuos' %}">Solicitar retiro</a>
                    {% endif %}
                    
                    <a href="#">Quiénes somos
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </a>
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-a">Cerrar sesión</button>
                        </form>
                        
                    {% else %}
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                </div>
            </div>
        </div>
     </header>

    {% block 'contenido' %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="info-footer">
                <h4>Empresa de Retiro de Residuos Urbanos</h4>
                <p class="p-footer">Dirección: Calle Falsa 123, Ciudad, País</p>
                <p class="p-footer">Teléfono: +123 456 789</p>
                <p class="p-footer">Email: contacto@residuosurbanos.com</p>
            </div>
            <div class="social-footer">
                <h4>Síguenos</h4>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
            </div>
            <div class="links-footer">
                <h4>Enlaces Útiles</h4>
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contacto</a>
                <a href="#">Política de Privacidad</a>
            </div>
        </div>
        <div class="copy">
            &copy; 2024 Empresa de Retiro de Residuos Urbanos. Todos los derechos reservados.
        </div>
    </footer>
</body>
</html>