{% extends "plantilla.html" %}
{% load static %}

{% block 'estilo' %}
<link rel="stylesheet" href="{% static 'css/retiro_residuos.css' %}">
{% endblock %}
{% block 'contenido' %}

    <section id="cuerpo">
        <script>
            window.addEventListener('DOMContentLoaded', function(){
                document.querySelector("#id_usuario").value = "{{ request.user.id }}"
                document.querySelector("#id_usuario").setAttribute("style", "display: none;")
            })
        </script>
        <section id="formulario">
            <form action="" method="post" >
                
                {% csrf_token %}

                <h2>Solicitar retiro de residuos urbanos</h2>
                
                <div id="residuoDireccion">
                    <div id="residuo">
                        <h3>Cantidad de residuos (En mt^3):</h3>
                        <!-- <input type="number" placeholder="Ej: 5"> -->
                         {{ form.cant_residuos }}
                    </div>
                    <div id="direccion">
                        <h3>Dirección:</h3>
                        <!-- <input type="text" placeholder="Ej: Avenida Siempre Viva 1999"> -->
                         {{ form.direccion }}
                    </div>
                </div>

                <div id="tipoResiduo">
                    <div>
                        <h3>Tipo de residuo:</h3>
                        <!-- <select id="opciones" aria-placeholder="">
                            <option>Seleccione un tipo de residuo</option>
                            <option>Organico</option>
                            <option>No organico</option>
                            <option>Biodegradable</option>
                            <option>Otro</option>
                        </select> -->
                        {{ form.tipo_residuo }}
                    </div>
                    <img src="{% static 'img/formulario.png' %}" alt="imagen-formulario">
                </div>

                <div id="descripcion">
                    <h3>Descripción de la solicitud:</h3>
                    <!-- <input type="text" placeholder="Escriba aquí los detalles de los residuos."> -->
                     {{ form.descripcion }}
                </div>

                {{ form.usuario }}

                {% if request.user.is_authenticated %}
                    <button type="submit">Enviar solicitud</button>
                {% else %}
                    <button type="button" onclick="mostrarMensaje()">Enviar solicitud</button>
                {% endif %}
            </form>
        </section>
    </section>

    <script src="{% static 'JS/retiro_residuos.js' %}"></script>
{% endblock %}