{% load static %}
{%extends "plantilla.html"%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block 'contenido' %}
    <section>
        <div class="login-container">
            <legend>LOGIN</legend>
            <form action="#">
                <div class="input-box">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario">
                    <p id="error-message"></p>
                </div>
                <div class="input-box">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" id="contrasenia">
                    <p id="error-message-pass"></p>
                    <button id="btn-login" type="submit" onclick="validarContrasenia()">Login</button>
                </div>
                
            </form>
        </div>
        {% endblock %}
        <script src="funciones.js"></script>
    </section>
</body>
</html>