#perfil{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#imagenInformacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#informacionPerfil{
    width: 80%;
}

img{
    width: 30%; 
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1{
    display: flex;
    align-items: center;
    margin-left: 1%;
}

#historial{
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #F3F3F3;
    border-radius: 10px;
    position: relative;
}

#cuerpo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40PX;
}

#informacionHistorial{
    display: flex;
    background-color: #E9E9E9;
    width: 90%;
    height: 12rem;
    border-radius: 10px;
    top: 30px;
    position: absolute;
}