#perfil{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#imagenInformacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#informacion{
    width: 80%;
}

img{
    width: 30%; 
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1{
    display: flex;
    align-items: center;
    margin-left: 1%;
}