@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --placeholder-text: #B9CBC2;
    --back-solid-color: #4CA014;
    --back-light-solid-color: #E7EAE6;
    --color-title-btn: #98E221;
    --footer-color: #4B4C49;
    --btn-color: #84CD2C;
}


*{
    color: #000;
    font-family: "Inter", sans-serif;
}

body{
    margin: 0px;
    height: 110vh;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: var(--back-solid-color);
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem;
}

.links{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 0px 50px;
    div{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a, .btn-a{
            text-decoration: none;
            color: #49454F;
            font-size: 1rem;
            svg{
                transform: translate(0, 20%);
                fill: #49454F;
            }
        }
    }
}

.btn-a{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

footer{
    display: flex;
    height: 35vh;
    width: 100%;
    background-color: var(--footer-color);
}